.header{
    background: #3b5998;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.logo-text{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none; 
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    margin-left: 100px

}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-controls{
    margin-left: 115px;
}

.forgotten{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;
}
.sub-btn{
    background: #4267b2;
    color: #fff;
    height: 20px;
    border: color #29487d; 
    cursor: pointer;
}
.sub-btn:hover{
    background: red;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}
.right-section{
    width: 39%;
    float: left;
    padding-top: 5%;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 550px;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 150%;
}

 .create{
     
     font-size: 28px;
     font-weight: bold;
 } 
 .firstsur{
    border: 1px;
    border-radius: 5px;
 }
 .mob{
  width: 337px; 
  margin-top: 12px; 
  border: 1px;
  border-radius: 5px;
 }
 .newpass{
  width: 337px;    
  margin-top: 12px; 
  border: 1px; 
  border-radius: 5px;
 }
 .birthday{
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: rgb(114, 109, 109);
}
 .dob{
    border: 1px;
    border-radius: 5px;  
 }
 .but{
    color: #fff;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: darkgray;
    margin-left: 10px;
}
 .grey{
     color: grey;
 }
 .blue{
    color: rgb(68, 54, 192);
 }
 .signup{
    background-color: green;
    font-size: 10px;
    color: #fff;
    width: 227px;
    height: 37px;
    font-size: 20px;
    font-style: italic;
    border: 5px;
    border-radius: 3px;
    border-color: darkgreen;
}
 